.headerCarousel{
    height: 100vh;
    .slick-dots{
        width: fit-content;
        bottom: 25px;
        right: 100px;
        &> li {
            height: 5px;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 5px;
                background-color: #FFC845;
                border-radius: 2.5px;
            }
           &> button{
                height: 5px;
                &::before{
                    opacity: 1;
                    height: 5px;
                    line-height: 5px;
                    color: #fff;
                }
        }
        }
        .slick-active{
                width: 105px;
                height: 5px;
                padding: 0;
                margin: 0;
                border-radius: 25.5px;
                background-color: #fff;
                &::after{
                    transition: all 4s linear;
                    width: 100%;
                }
                &> button{
               transition: all 3s linear;
               width: 100%;

                    
                &::before{
                    color: transparent;
                }
            }
        }
        @media (max-width: 576px) {
          right: 50%;
          transform: translate( 50% , 0);
        }
    }
    .slick-slide{
        height: fit-content;
        &> div{
            height: fit-content;
        }
    }
}

.afterCarousel{
    .slick-dots{
        bottom: 25px;
        
        &> li {
            height: 5px;
            width: 13%;
            background-color: #fff;
            border-radius: 2.5px;
            opacity: .25;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 5px;
                background-color: #FFC845;
                border-radius: 2.5px;
            }
           &> button{
                height: 5px;
                &::before{
                height: 5px;    
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    color: transparent;
                }
        }
        }
        .slick-active{
                opacity: 1;
                background-color: #fff;
            &> button{
                &::before{
                    color: transparent;
                }
            }
        }

    }
}